@keyframes spin
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

#global-container-inner
{
    text-align: left;
    height: 100%;
}

#body-container
{
	/* position: relative; */
    overflow: hidden;
    top: 0;
    left: 0;
    margin: auto;
}

.ad
{
    height: 176px;
    background: #111;
    padding: 0 12px;
    margin-bottom: 8px;
}

div.bb_h1, .bb_wysiwyg h1 {
    font-size: 20px;
    line-height: 23px;
    color: #5aa9d6;
    font-weight: normal;
    margin-bottom: 10px;
    clear: both;
}

.bb_h1 {
    border-bottom: 1px dotted #666666;
}

canvas
{
	background-repeat: no-repeat;
	background-position-x: center;
    outline: 1px transparent solid;
    transition: outline-color 0.3s;
}

.profile_customization canvas:hover
{
    outline-color: transparent;
}

#profile_page.has-anim .profile_customization.non-anim canvas:hover, .profile_customization.ui-sortable-helper canvas:hover
{
    outline-color: transparent !important;
}

.menu-showcase-preview .profile_customization
{
	background-color: #191919;
}

.menu-showcase-preview canvas
{
	background-color: rgb(35 35 35);
}

.white_link {
    color: #ebebeb;
    text-decoration: none;
    cursor: pointer;
}

.hidden
{
	display: none !important;
}

#profile_page
{
	background-position-x: 49.999%;
	background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
	background-image: var(--bg);
	/*transition: background-image 0.5s ease-in-out;*/
}

.has-anim
{
	background-image: none !important;
}

.profile_animated_background
{
	display: none;
    position: absolute;
    min-width: 100%;
    width: auto;
    height: 100%;
    overflow: hidden;
	z-index: -1;
}

.has-anim .profile_animated_background
{
	display: block;
}

.profile_animated_background > video
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.loading_background
{
	display: flex;
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 101;
    background: linear-gradient(90deg, #00c0ff36, #ffffff36);
    backdrop-filter: brightness(0.25) grayscale(1);
	opacity: 1;
	transition: opacity 0.3s;
	pointer-events: unset;
}

.loading_circle
{
	margin: auto;
    width: 96px;
    height: 96px;
    border-radius: 100%;
    border: 16px #8888 solid;
    border-top-color: #00ffff;
	animation: spin 1s linear infinite;
}

.menu-background {
    display: flex;
	padding-top: 64px;
    height: 100%;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: linear-gradient(90deg, #001936c0, #191919c0);
	opacity: 0;
}

.menu-window {
	user-select: none;
    color: #8aa;
    font-weight: 300;
    margin: auto;
    padding: 36px;
    border: 2.5px solid #00c0ff30;
    border-radius: 5px;
    max-height: 50%;
    overflow-y: auto;
    box-shadow: 0 0 32px 16px #0008;
    background-image: url(/assets/svg/artworkhub_icon.svg);
    background-size: 150%;
    background-color: #092838;
    background-blend-mode: color;
    background-position-x: 100%;
    background-repeat: no-repeat;
}

.menu-window hr
{
    border-color: #8aa;
}

.menu-label
{
	font-size: 21px;
	color: #5aa9d6;
}

label, input[type="checkbox"]
{
	cursor: pointer;
}

.menu-showcases-dropdown
{
	background-color: #191919;
    padding: 7px 11px;
    border: 0;
	border-radius: 3px;
    color: #808080;
	cursor: pointer;
	outline: none;
}

.menu-input, .menu-code
{
	outline: none;
    background: #19191990;
    border: 0;
    padding: 7px 11px;
    color: #808080;
    font-size: 16px;
    border-radius: 3px;
}

.menu-code
{
	width: calc(100% - 11px);
	/* text-align: center; */
	cursor: pointer;
	user-select: none;
	transition: 0.3s;
	/* text-overflow: ellipsis; */
}

.menu-code:hover
{
	background: #36363690;
	color: #fff;
}

.menu-code::selection
{
	background-color: #0000;
	color: inherit;
	text-shadow: inherit;
	/* text-overflow: ellipsis; */
}

.menu-showcase-preview-outer
{
	margin-left: 36px;
    border-left: 2px #0003 solid;
}

.menu-showcase-preview-inner
{
	pointer-events: none;
	width: 400px;
    height: 284px;
    margin-left: 36px;
    background: #0003;
    border-radius: 3px;
    overflow: hidden;
}

.menu-showcase-preview
{
	position: relative;
    animation: rorate 1s ease-in-out 0s infinite alternate;
    width: 656px;
    display: inline-block;
    top: 50%;
    left: 50%;
}

.menu-button
{
	outline: none;
    background-color: #0005;
    /* background-color: #191919; */
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    padding: 7px 11px;
    cursor: pointer;
    color: #aaa;
	transition: 0.3s;
}

.menu-button.menu-button-upload
{
    padding: 0;
    width: 32px;
    height: 32px;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/assets/svg/upload.svg);
}

.menu-button:hover
{
    background-color: #fff1;
	/* background-color: #363636; */
	color: #fff;
}

.menu-donate-description
{
	width: 640px;
    height: 256px;
    overflow-y: auto;
    background-color: #0005;
    box-shadow: 0 0 16px #0008;
    white-space: pre-wrap;
    padding: 12px;
}

.menu-changelog-title
{
    display: block;
    font-size: 24px;
    margin-bottom: 4px;
    padding-bottom: 2px;
    border-bottom: 1px solid #0cf8;
}

.menu-donate-description > b
{
	color: #00c0ff;
}

.profile_wrapper
{
    width: min-content;
    margin: auto;
    position: relative;
    box-shadow: 0 0 32px 0px #0008;
    z-index: 1;
}

#profile_wrapper_background
{
    pointer-events: none;
    position: absolute;
    z-index: -100;
    inset: 0;
}

#profile_wrapper_background.default
{
    background-image: linear-gradient(to right, #00c0ff30, #ffffff30);
    background-color: #000e;
}

#profile_wrapper_background.dark
{
    background-color: #212427ee;
}

#profile_wrapper_background.aero
{
    background-image: linear-gradient(to right, #00c0ff40, #ffffff30);
    background-color: #0008;
    backdrop-filter: blur(16px);
}

#profile_wrapper_background.crystal
{
    background-image: linear-gradient(to right, #00c0ff50, #0000);
    background-color: #000c;
    backdrop-filter: sepia(1) hue-rotate(180deg) saturate(10);
}

.profile_header_bg
{
	width: 976px;
	height: 224px;
	margin: 0 auto;
	user-select: none;
    overflow: hidden;
}

.profile_header_bg_texture
{
	max-width: 976px;
    min-height: 224px;
    margin: 0 auto;
}

.profile_header
{
	/* position: relative; */
    max-width: 926px;
    margin: 0 auto;
    padding-top: 24px;
}

.profile_header_content
{
	position: relative;
    float: left;
    padding-top: 8px;
    padding-right: 16px;
    color: #898989;
}

.playerAvatar
{
	width: 166px;
    height: 166px;
    border-radius: 0;
    padding: 1px;
	background: #fff7;
    background-image: linear-gradient( to bottom, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
    box-shadow: 0 0 32px #00c0ff30;
}

.steam_avatar
{
	background: rgb(50 50 56);
	width: 164px;
	height: 164px;
    margin: 1px 0 0 1px;
}

.persona_name
{
    position: absolute;
    color: white;
    left: 186px;
    right: 268px;
    font-size: 24px;
    width: max-content;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
    line-height: 40px;
}

.has-anim .steam_avatar
{
	opacity: 0;
}

.has-anim .non-anim canvas, .profile_customization.ui-sortable-helper canvas
{
	background-color: black;
	opacity: 0.25;
	filter: contrast(0);
	/* border-color: #0005; */
}

.profile_header_part1
{
	float: left;
	margin-top: 100px;
}

.input-bgurl
{
    float: left;
	padding: 7px 11px;
    width: 394px;
    height: 18px;
    background: #0005;
    color: #888;
    border: 0;
	outline: none;
    border-radius: 5px;
	margin-right: 7px;
	transition: 0.3s;
}

.input-bgurl:hover, .input-bgurl:focus
{
	background: #fff1;
	color: #fff;
}

.profile_content
{
	user-select: none;
	/* position: relative; */
    background-color: rgb(35 35 35 / 83%);
    background-repeat: no-repeat;
    padding: 12px 12px 64px 12px;
    width: 952px;
    margin: 0 auto;
    font-size: 13px;
    /* min-height: calc( 100vh - 511px ); */
}

.profile_content.has_profile_background
{
    background-color: transparent;
    /* margin-top: 0px; */
    overflow: hidden;
    padding-top: 16px;
	opacity: 1;
	/* opacity: 0; */
}

.profile_leftcol
{
    width: 652px;
    float: left;
}

.profile_rightcol {
    background-color: #0005;
    padding: 10px;
    border-radius: 3px;
    width: 268px;
    float: right;
	text-align: center;
	/* backdrop-filter: blur(8px); */
}

#resizing-area
{
	/* margin-bottom: 12px; */
	transition-duration: 0s;
	transition-property: height;
	transition-timing-function: ease-in-out;
}

.profile_customization
{
    position: relative;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: #0005;
	/* backdrop-filter: blur(8px); */
    border-radius: 3px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 12px;
    font-size: 13px;
    overflow: hidden;
	display: none;
	/* transition: background-color 0.1s linear; */
}

.menu-showcase-preview > .profile_customization
{
	margin: 0;
    border: 2px #0008 solid;
    box-shadow: 0 0 64px #0008;
    border-radius: 6px;
}

.profile_customization:after {
    background-color: #0000;
	opacity: 0;
    content: '';
    display: block;
    position: absolute;
    bottom: 12px;
    z-index: -100;
}

.profile_customization.ui-sortable-helper
{
	cursor: default;
	border: 1px solid black;
	border-radius: 5px;
	z-index: 3;
	/* filter: grayscale(0.5) brightness(2) drop-shadow(0px 0px 8px black); */
	background-color: #191919;
	box-shadow: 0px 0px 32px black;
	/* opacity: 0.5; */
	/* position: unset !important; */
	/* position: absolute; */
}

.ui-sortable-helper:active
{
	cursor: grabbing;
}

.ui-sortable-helper .showcase-button-span
{
	pointer-events: none;
}

.ui-sortable-placeholder
{
	outline: 2px dashed;
}

.profile_customization.visible
{
	display: block;
}

.profile_customization_block
{
    position: relative;
    border-radius: 5px;
    padding: 20px 10px 11px 10px;
    margin-bottom: 0px;
    font-size: 13px;
    overflow: hidden;
}

.profile_customization_block.single
{
    min-height: 100px;
}

.showcase_content_bg {
    background-color: #101214;
    background-color: rgba( 0, 0, 0, 0.3 );
    padding: 8px;
    border-radius: 5px;
    overflow: hidden;
}

.favguide_icon
{
	float: left;
	width: 160px;
	height: 160px;
	/* background-color: rgb(35, 35, 35); */
}

.myart .profile_customization_block {
    position: relative;
    border-radius: 5px;
    padding: 15px 10px 11px 10px;
    margin-bottom: 0px;
    font-size: 13px;
    overflow: hidden;
}

.profile_customization.myart .profile_customization_header
{
    display: none;
}

.profile_customization_header {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
	/* background: linear-gradient(90deg, #070e3e, #00474a); */
    background-color: #0004;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.screenshot_showcase_left, .screenshot_showcase_right
{
	border: 1px solid #000000;
	height: 300px;
    margin-bottom: 4px;
	/* background-color: rgb(35 35 35); */
}

.screenshot_showcase_left
{
	width: 506px;
	margin-right: 7px;
	float: left;
}

.featured_art_showcase_image
{
	border: 1px solid #000000;
	width: 630px;
	height: 300px;
    margin-bottom: 4px;
	/* background-color: rgb(35 35 35); */
}

.screenshot_showcase_right
{
	width: 100px;
	overflow: hidden;
}

.screenshot_showcase_right.has-plus
{
	height: 230px;
}

.screenshot_showcase_plus
{
	margin-top: 7px;
    width: 100px;
    height: 57px;
    border: 1px solid #000000;
    background-color: #222223;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 15px;
    margin-left: auto;
    margin-bottom: 4px;
}

.screenshot_showcase_stats
{
	margin-top: 0px;
}

.screenshot_showcase_title
{
	display: inline-block;
	line-height: 19px;
	color: #969696;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

.row
{
    position: relative;
    font-size: 0;
}

.row.flex
{
    display: flex;
}

.resize-anchor
{
    position: absolute;
}

.showcase-button-span
{
}

.screenshot_showcase_rates
{
	width: 100%;
	line-height: 24px;
	float: right;
}

.screenshot_showcase_stats.no-title > .screenshot_showcase_title
{
	display: none;
}

.screenshot_showcase_stats.no-rates > .screenshot_showcase_rates
{
	width: unset;
	display: inline-block;
	height: 0px;
}

.screenshot_showcase_staticons > img 
{
	vertical-align: text-bottom;
}

.screenshot_showcase_stats.no-rates > .screenshot_showcase_rates > .screenshot_showcase_staticons
{
	display: none;
}

.screenshot_showcase_stats.has-plus
{
	min-height: 5px;
}

.screenshot_showcase_stats.no-title.no-rates > .screenshot_showcase_rates
{
	transform: translateY(-6px);
}

.btn-moveup, .btn-movedown, .btn-movegear, .btn-moveremove, .btn-moveload
{
	float: right;
	width: 36px;
	color: #0000;
	/* height: -webkit-fill-available; */
	opacity: 0.5;
	transition: opacity 0.1s linear;
	text-align: center;
	cursor: pointer;
	background-image: url(/assets/svg/gear.svg);
    background-size: 36%;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-moveremove
{
	background-image: url(/assets/svg/cross.svg);
	background-size: 34%;
}

.menu-showcase-preview .btn-moveup, .menu-showcase-preview .btn-movedown, .menu-showcase-preview .btn-movegear, .menu-showcase-preview .btn-moveremove, .menu-showcase-preview .btn-moveload
{
	display: none;
}

.btn-moveup:hover, .btn-movedown:hover, .btn-movegear:hover, .btn-moveremove:hover, .btn-moveload:hover
{
	opacity: 1;
}

.btn-moveup:after
{
	content: '\25C0';
}

.btn-movedown:after
{
	content: '\25B6';
}

.btn-movegear:after
{
	content: '\2699';
}

.btn-moveremove:after
{
	content: '\2716';
}

.btn-moveload:after
{
	content: '\25B2';
}

.btn-moveup, .btn-movedown
{
	display: none;
}

.myworkshop_showcase_header
{
    width: 600px;
    height: 38px;
    padding: 10px;
    line-height: 38px;
    margin: 10px;
}

.myworkshop_showcase_item
{
	width: 122px;
	height: 122px;
	margin: 2px;
	margin-bottom: 7px;
	float: left;
	/* background-color: rgb(35 35 35); */
}

.showcase_stats_row
{
	height: 73px;
	padding: 8px;
	background: #0005;
	overflow: hidden;
}

.achievements_stats_row
{
	height: 74px;
	padding: 8px;
	background: #0005;
	overflow: hidden;
}

.achievement_showcase_item
{
	width: 64px;
	height: 64px;
	/* background-color: rgb(35 35 35); */
	float: left;
}

.achievement_showcase_item.next
{
	margin-left: 4.5%;
}

.achievement_showcase_item.under
{
	margin-top: 5px;
}

.guide_showcase_header
{
	width: 600px;
    height: 38px;
    padding: 8px;
    line-height: 38px;
	background: #0005;
    margin: 10px;
}

.guide_showcase_item
{
	margin-right: 7px;
    /* background: #111; */
    width: 66px;
    height: 66px;
    margin-bottom: 7px;
    border-style: solid;
    border-top-width: 11px;
    border-left-width: 11px;
    border-right-width: 228px;
    border-bottom-width: 13px;
    float: left;
    /* background-color: rgb(35, 35, 35); */
    border-color: #0005;
    border-radius: 3px;
}

.favoritegame_showcase_game
{
    position: relative;
    height: 69px;
    /* padding-left: 200px; */
    margin-bottom: 22px;
}

.favoritegroup_showcase_group
{
    position: relative;
    width: 157px;
    height: 157px;
    margin-bottom: 22px;
}

.favgame_info_stats
{
	display: none;
    padding: 9px 11px 10px;
    background-color: rgba(12, 12, 12, 0.93);
    border-radius: 3px;
    margin-top: 9px;
}

.favgame_info_stats.has_ach, .favgame_info_stats.has_bad, .favgame_info_stats.has_ugc
{
	display: block;
}

.favgame_info_achievements_only_ctn
{
    opacity: 0;
	display: none;
    line-height: 32px;
    position: relative;
}

.favgame_info_stats_rule
{
	display: none;
    border-top: 1px solid #0008;
    background-color: #333;
    height: 1px;
    margin: 10px 0;
}

.favgame_info_stats_publishedfilecounts
{
    opacity: 0;
	display: none;
}

.favgame_info_stats.has_ach > .favgame_info_achievements_only_ctn, .favgame_info_stats.has_bad > .favgame_info_achievements_only_ctn
{
	display: block;
}

.favgame_info_stats.has_bad > .favgame_info_achievements_only_ctn
{
    height: 50px;
}

.favgame_info_stats.has_ach.has_bad > .favgame_info_achievements_only_ctn
{
    height: 79px;
}

.favgame_info_stats.has_ugc > .favgame_info_stats_publishedfilecounts
{
	display: block;
}

.favgame_info_stats.has_ach.has_ugc > .favgame_info_stats_rule, .favgame_info_stats.has_bad.has_ugc > .favgame_info_stats_rule
{
	display: block;
}

.published_file_icon {
    width: 0px;
    height: 19px;
    display: inline-block;
    margin-right: 0px;
    /*background-image: url(/assets/png/icons_content.png);*/
	background-position: -95px center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.showcase_notes
{
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    max-height: 600px;
}

.showcase_content_bg:last-child
{
    margin-bottom: 0;
}

.video_showcase_left
{
	height: 379.5px;
}

.video_showcase_right
{
	height: 75px;
	margin-bottom: 11px;
}

.video_showcase_plus
{
	margin-top: 0px;
	margin-bottom: 62.5px;
}

.showcase_resizer
{
	top: -990px;
    position: absolute;
    background: white;
    /* width: 546px; */
    width: 578px;
    height: 12px;
    border-radius: 10px;
    cursor: ns-resize;
    z-index: 1;
    opacity: 0;
    box-shadow: 0px 0px 12px white;
	transition: opacity 0.1s linear;
}

.showcase_resizer:hover
{
	opacity: 0;
}

.showcase_resizer.active
{
	opacity: 0;
}

.resizer_preview
{
	pointer-events: none;
	position: absolute;
	color: black;
	border: 1px solid black;
	background: beige;
	padding: 6px;
	z-index: 2;
}

.btn-addshowcase
{
	float: right;
    width: 652px;
    text-align: center;
	font-size: 16px;
    /* background: linear-gradient(90deg, #070e3ec0, #00474ac0); */
	background-color: #0005;
    border-radius: 3px;
    padding: 7px 0;
    cursor: pointer;
	color: #aaa;
    transition-duration: 0.2s;
}

.btn-addshowcase:hover
{
	color: #fff;
	background-color: #fff1;
}

.rightcol-logo
{
	pointer-events: none;
    width: 20%;
    margin: 8px auto;
    display: block;
    padding-bottom: 4px;
}

.rightcol-button
{
	outline: none;
    width: 100%;
    /* background: linear-gradient(90deg, #070e3ec0, #00474ac0); */
	background-color: #0005;
    border: 0px;
    border-radius: 3px;
    font-size: 16px;
    padding: 7px 11px;
    margin-top: 6px;
    cursor: pointer;
    color: #aaa;
    transition: all 0.3s ease 0s;
}

.rightcol-button:hover
{
	background-color: #fff1;
	color: #fff;
}

.btn-donate
{
	background-color: #103060;
	color: #60c0f0;
}

.btn-donate:hover
{
	background-color: #0080c0;
}

.keepin
{
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}