@font-face {
	font-family: 'Motiva Sans';
	src: url('/assets/fonts/MotivaSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('/assets/fonts/MotivaSans-Light.ttf') format('truetype');
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('/assets/fonts/MotivaSans-Thin.ttf') format('truetype');
	font-weight: 200; /* Ultra-Light / Thin */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('/assets/fonts/MotivaSans-Medium.ttf') format('truetype');
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('/assets/fonts/MotivaSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('/assets/fonts/MotivaSans-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('/assets/fonts/MotivaSans-LightItalic.ttf') format('truetype');
	font-weight: 300; /* Light */
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('/assets/fonts/MotivaSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('/assets/fonts/MotivaSans-Black.ttf') format('truetype');
	font-weight: 900; /* Black */
	font-style: normal;
}

@keyframes rorate
{
	from
	{
		transform: scale(0.5, 0.5) translate(-100%, -100%) perspective(1000px) rotateY(-6deg);
	}
	
	to
	{
		transform: scale(0.5, 0.5) translate(-100%, -100%) perspective(1000px) rotateY(6deg);
	}
}

body
{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background: black;
	margin: 0;
	padding: 0;
	color: #808080;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

a
{
    color: #ebebeb;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

a.david, a.stock, a.foxy
{
	font-weight: 500;
}
a.david:before
{
	content: "David Macintosh";
	color: #00c0ff;
}
a.stock:before
{
	content: "StockPiston";
	color: #dd3c3c;
}
a.foxy:before
{
	content: "WhiteFoxy";
	color: #ffffff;
}

a:hover
{
	text-decoration: none;
}

a:after
{
	bottom: -2px;
	width: 0px;
	height: 0px;
	border-bottom: 1px solid;
	left: 50%;
	position: absolute;
	content: "";
	opacity: 0;
	transition: 0.3s ease;
}

a:hover:after
{
	width: 100%;
	left: 0;
	opacity: 1;
}

::-webkit-scrollbar
{
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}
::-webkit-scrollbar-corner
{
    background: #202020;
}
::-webkit-scrollbar-thumb
{
    width: 10px;
    background-color: #fff4;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}
::selection
{
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}

.global-header-option.hidden
{
	display: none !important;
}

#global-header, #global-footer
{
	z-index: 999999;
	position: fixed;
	display: block !important;
	font-family: "Motiva Sans", Sans-serif;
	background-color: #012;
    box-shadow: 0px 0px 16px #012;
	width: 100%;
	height: 48px;
    text-align: center;
	user-select: none;
	/* background: linear-gradient(90deg, rgba(8,12,16,1) 0%, rgb(22 26 39) 50%, rgb(15 28 29) 100%); */
    /* background: linear-gradient(to right, #080c10, #181c20); */
}

#global-header
{
	/*border-bottom: 2px solid black; */
    /* background: linear-gradient(90deg, #070e3e, #00474a); */
    color: white;
    font-size: 16px;
}

#global-footer
{
	bottom: 0;
	/*border-top: 2px solid black;*/
    font-size: 12px;
}

#global-header-icon
{
	position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
	/* transition: 0.3s ease; */
	cursor: pointer;
}

#global-header-icon:hover
{
	transition: 0.3s ease;
	/* filter: saturate(2.4) drop-shadow(0px 0px 8px #00c0ff); */
}

#global-header-pad
{
	height: 48px;
}

#global-header-hm-button
{
	position: absolute;
	top: 12px;
	right: 12px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background-repeat: no-repeat;
    background-position: center;
	background-image: url('/assets/svg/hambbutton.svg');
	background-size: contain;
}

#global-header-options-container
{
	min-width:760px;
}

#global-header-hm-options-container
{
	position: absolute;
	top: 48px;
	right: 0;
	padding: 8px;
	background: rgb(15 28 29);
	box-shadow: 0px 0px 16px black;
	pointer-events: none;
	opacity: 0;
	transition: opacity, 0.1s linear;
}

#global-header-options-container.hidden, #global-header-hm-container.hidden
{
	opacity: 0;
	pointer-events: none;
}

#global-header-options-wrapper
{
	margin-left: 225px;
    margin-right: 225px;
	display: inline-block;
    min-width: max-content;
}

.global-header-hm-option
{
	display: block;
	margin: 8px;
	cursor: pointer;
}

.global-header-option
{
	color: #c5c3c0ff;
    display: inline-block;
    height: 48px;
    padding: 0 12px;
    line-height: 48px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
	transition: width, left, 0.3s ease;
}

.global-header-option:hover
{
	color: var(--color);	
	/* text-shadow: 0 0 32px #fff8; */
}
.global-header-option:after
{
	bottom: 10px;
	width: 0px;
	height: 1px;
	background-color: #c5c3c0ff;
	left: 50%;
	position: absolute;
	content: "";
	opacity: 0;
	transition: 0.3s ease;
}

.global-header-option:hover:after
{
	width: 100%;
	left: 0;
	opacity: 1;
}

#global-container-outer
{
	overflow-x: hidden;
	overflow-y: overlay;
	user-select: none;
	position: absolute;
	width: 100%;
	height: calc(100% - 96px);
	display: flex;
}

#global-container-inner
{
	width: 100%;
	height: 100%;
	position: relative;
	margin: auto;
	text-align: center;
}

#error-container-outer
{
    display: flex;
    width: 100%;
    height: 100%;
}

#error-container-inner
{
    margin: auto;
}

.global-footer-flag
{
	width: 16px;
	height: 16px;
	position: absolute;
	cursor: pointer;
	transform: translate(-16px, 0px);
}

.global-gap
{
	display: inline-block;
	margin: 0 8px;
}

#global-lang-menu
{
	display: inline-block;
    position: absolute;
	text-align: left;
    bottom: 32px;
    padding: 6px 14px;
	box-shadow: 0 0 8px black;
	border-radius: 3px;
    background: #191919;
	transform: translate(-30px, 0);
	pointer-events: none;
	opacity: 0;
	transition: 0.3s;
	z-index: 1;
}

#global-lang-menu > div
{
	color: #888;
	line-height: 24px;
	font-size: 12px;
	cursor: pointer;
	transition: 0.1s;
}

#global-lang-menu > div:hover
{
	color: white;
}

#global-lang-menu > div > img
{
	height: auto;
	position: relative;
	margin-right: 4px;
	transform: none;
}

.global-error-modal
{
	font-family: monospace;
	max-width: 920px;
	padding: 16px;
	border: 1px #888 solid;
	border-radius: 3px;
	user-select: text; 
	word-break: break-word;
}

#global-footer
{
	color: #c5c3c0ff;
}

@media only screen and (max-width: 500px) {
	#global-footer {
	  font-size: 9px;
	}
  }

@media only screen and (max-width: 359px) {
#global-footer {
	font-size: 7px;
}
}

input#file {
	display: inline-block;
	width: 100%;
	padding: 120px 0 0 0;
	height: 100px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
	border-radius: 20px;
	background-size: 60px 60px;
  }